@CHARSET "ISO-8859-1";

*{
	margin:0 auto;
	padding: 0px;
}

@font-face{
	font-family: eddie;
	src: url('eddie_rounded-webfont.eot');
	src: url('eddie_rounded-webfont.eot?#iefix') format('embedded-opentype'),
	     url('eddie_rounded-webfont.woff') format('woff'),
	     url('eddie_rounded-webfont.ttf') format('truetype');
}

body{
	font-family: eddie;
	color: rgba(135, 14, 216, 0.72);
}

a img {
	border: none
}

a {
	color: #262626;
	text-decoration: none;
	line-height: inherit;
}

a:hover {
	color: #F06B48;
}

a:focus {
	color: #2ba6cb;
	outline: none;
}

p a,p a:visited {
	line-height: inherit;
}

ul{
	list-style: none;
}

.element{
	padding-top:2%;
	padding-bottom:2%;
}

/*header*/

header{
	height:71px;
	background: #fafafa;
	box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
	z-index: 999;
	padding-left:2%;
}

header img{
	height:100%;
}

.next{
	height:40px;
	line-height:2.6;
	padding: 0 25px;
	float: left;
	display: block;
}

.next a{
	color:#000;
}

.next:hover{
	background: #eeeeee;
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.active{
	float:left;
}

.active a{	
	color:#fff;
	height:40px;
	line-height:2.6;
	padding: 0 25px;
	display: block;
	background: #F06B48;
}

.active a:hover{
	color: #000;
	background: #F06B48;
}

#logo{
	position:relative;
	float:left;
}

header a img{
	height:15%;
}

#LogoText{
	font-family: century gothic;
	position: relative;
	float: left;
	font-size: 16px;
	font-weight:normal;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.59);
	padding-left:5%;
	top:30%;
	letter-spacing: -1px;
}

.sign{
	background:rgba(78, 62, 58, 0.41);
	height:40px;
	line-height:2.6;
	padding: 0 25px;
}

.sign:hover{
	color:#f2f2f2;
}

#city{
	position:relative;
	float:right;
	top:35%;
}

/*search bar*/

#searchBar{
	background-color: rgba(20, 20, 20, 0.85);
	width: 35%;
	padding: 20px;
	height: 110px;
	position: absolute;
	right: 3%;
	top: 130px;
	color: #fff;
	border-radius: 4px 4px 4px 4px;
	z-index:1000;
}

.sleft{
	position: relative;
	float: left;
}

.selected{
	display: inline-block;
	font-size: 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	height: 20px;
	line-height: 22px;
	padding: 0 10px;
	background-color: #cb202d;
	color: #fff;
	border-right: 1px solid #cb202d;
	cursor: pointer;
}

.button{
	background-color: #dedede;
	border: solid 1px #c8c8c8;
	border-width: 1px 1px 1px 0px;	
	position: relative;
	top: 20px;
	padding: 8px 8px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-appearance: none;
	color: #4d4d4d;
	line-height: 22px;
}

.input{
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 6px 10px;
	font-size: 0.65em;
	border-top: 6px solid #cb202d;
	border-left: 1px solid #cb202d;
	float: left;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sValue{
	background: #fff;
	width: 80%;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.normal:hover{
	background-color: #b8b8b8;
}

.normal{
	display: inline-block;
	font-size: 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	height: 20px;
	line-height: 22px;
	padding: 0 10px;
	background-color: #dedede;
	color: #2d2d2d;
	border-right: 1px solid #9d9d9d;
	cursor: pointer;
}



/*slideShow*/

#slideShow{
	width:100%;
	height:420px;
	padding-bottom:0.2%;
}

.slideVisible{
	position:absolute;
	width: 100%;
	height: 420px;
	padding-top: 2px;
}

.slideInvisible{
	position:absolute;
	width: 100%;
	height: 420px;
	padding-top: 2px;
	opacity:0;
}

/*content*/

#content{
	height:100%;
	background: #FFF;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	clear: both;
	width: 100%;
}

#content img{
	width:90%;
	padding-left:5%;
}

.column{
	position:relative;
	float: left;
	width:49%;
	padding-left:1%;
}

/*signUp*/

#signUp{
	background: #262626;
	height:300px;
	width:100%;
	font-family:century gothic;
	color:#f2f2f2;
}

#wrap{
	padding-left: 3%;
	padding-top: 2%;
	width:90%
}

.head{
	font-size:18px;
	text-transform: uppercase;
}

.base{
	font-size:14px;
	padding-top: 10px;
	position: relative;
	float: left;
	width: 70%;
}

.link{
	font-family:comic sans MS;
	font-size:18px;
	clear:both;
}

.inlineImage{
	position:relative;
	float:left;
	display:inline;
	width:30%;
}

/*adSpace*/

#adSpace{
	height:300px;
	width:100%;
}

.adVisible{
	position:absolute;
	width: 100%;
	height: 300px;
	margin-top: -4%;
}

.adInvisible{
	position:absolute;
	width: 100%;
	height: 300px;
	margin-top: -4%;
	opacity:0;
}

footer{
	height:51px;
	background: #fafafa;
	box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
	z-index: 999;
	padding-left:2%;
	padding-top:2%;
	padding-right:2%;
	color:#262626;
}

.left{
	float:left;
	position: relative;
	padding-left: 4%;
}

.right{
	float:right;
	position:relative;
}
